Show
<div class="content bg-translucent">
  <div class="column">
    <% @booking.passenger.each do |passenger| %>
      <p>Name: <%= passenger.name %></p>
      <p>Email: <%= passenger.email %></p>
    <% end %>
  </div>
</div>
