<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your Booking is Confirmed!</h1>
    <p>Hi <%= @passenger.name %>,</p>
    <p>You have successfully booked a flight on Flight Booker</p>
    <p>To view the booking, please follow this link:</p>  
    <p><%= @url %></p>
    <p>Thank you for your support</p>
    <p>-Flight Booker</p>
  </body>
</html>