// div Styling
.bg-translucent {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
}
.section {
  background-color: transparent !important;
}
#select-flight {
  min-width: 375px;
  margin-top: 45px;
}

// Content Styling
table {
  tbody tr td {
    text-align: center;
  }
  thead tr th {
    text-align: center;
  }
}