<h1>Flight Index</h1>
<div class="container">
<table>
  <th>Departing</th>
  <th>Arriving</th>
  <tr>
    <td><%= select_tag(:departure_id, options_for_select(@departures)) %></td>
    <td><%= select_tag(:arrival_id, options_for_select(@arrivals)) %></td>
  </tr>

</table>
</div>